body {
	background-color: black;
}

.no-hover:hover, .no-hover:active{
	background: #5bc0de;
	border-color: #46b8da;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.controls {
	padding-bottom: 40px;
	padding-top: 40px;
	z-index: 100;
}

.btn-group p {
	float: left;
	line-height: 34px;
	padding-right: 10px;
}

.info-box {
	height: 340px;
	width: 490px;
	position: fixed;
	top: 80px;
	right: 0px;
	background-color: #000000;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	opacity: 0.7;
}

.info-box .inner {
	height: 300px;
	width: 450px;
	margin-left: 20px;
	margin-top: 20px;
	background: #FFFFFF;
	padding: 10px;
}

.paper-container{
	height: 540px;
	width: 240px;
	padding: 20px;
	position: fixed;
	top: 80px;
	left: 0px;
	background-color: #000000;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	opacity: 0.7;
}

.paper-container canvas {
	width: 200px;
	height: 500px;
	background-color: white;
}

.three-container {
	/*float: left;*/
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.three-container canvas {
	width: 792px;
	height: 792px;
	/*float: left;*/
	background-color: white;
}

#hideBtn, #showBtn, #hideInfoBtn, #showInfoBtn {
	width: 200px;
}

