body {
	background-color: black;
}

.controls {
	margin-bottom: 40px;

}

.btn-group p {
	float: left;
	line-height: 34px;
	padding-right: 10px;
}

.main-wrapper {
	width: 100%;
	padding: 25px 25px 25px 25px;
}

.paper-container {
	/*float: left;*/
	width: 100%;
	margin-bottom: 40px;
}

.paper-container canvas {
	width: 792px;
	height: 792px;
	/*float: right;*/
	border: 2px solid black;
	background-color: white;
}

.three-container {
	/*float: left;*/
	width: 100%;
}

.three-container canvas {
	width: 792px;
	height: 792px;
	/*float: left;*/
	border: 2px solid black;
	background-color: white;
}

.button-group {
	margin: 0 auto;
	width: 800px;
	text-align: center;
	margin-bottom: 20px;
}

.button-group button {

}

.button-group input {

}
