body {
	background-color: black;
}

.controls {
	padding-bottom: 40px;
	padding-top: 40px;

}

.btn-group p {
	float: left;
	line-height: 34px;
	padding-right: 10px;
}

.main-wrapper {
	/*width: 100%;*/
	/*padding: 25px 25px 25px 25px;*/
}

.paper-container {
	/*float: left;*/
}

.paper-container canvas {
	width: 792px;
	height: 792px;
	/*float: right;*/
	background-color: white;
}

.three-container {
	/*float: left;*/
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.three-container canvas {
	width: 792px;
	height: 792px;
	/*float: left;*/
	background-color: white;
}

#hideBtn, #showBtn {
	width: 200px;
}

